.form-control {
  border-radius: 0;
  background-color: $overlay-bg;

  &:focus {
    background-color: $overlay-bg;
  }
}

.CodeMirror {
  background: $overlay-bg;
  color: $body-fg;
}

.editor-preview,
.editor-preview-side,
.editor-toolbar.fullscreen,
.editor-toolbar.fullscreen:before,
.editor-toolbar.fullscreen:after {
  background: $body-bg;
}

.editor-toolbar.disabled-for-preview a:not(.no-disable) {
  background: transparent;
}

.editor-toolbar a {
  border-radius: 0;
  border: none;
}

.btn {
  border-radius: 0;
}

.card {
  border-radius: 0;
  border: none;
}

.card-header,
.card-body {
  background: $underlay-bg;
}

.card-header:first-child {
  border-radius: 0;
}

.tag-editor {
  border: 0;
  background: $overlay-bg;

  .tag-editor-tag, .tag-editor-delete {
    background: #fff;
    color: $body-fg;
  }
}