body {
  background-color: $body-fg;
  font-family: $font-family;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 a {
  &, &:active, &:visited, &:hover {
    text-decoration: none;
    color: $body-fg;
  }
}

div.post-hidden .post-state:after {
  content: "(Unpublished) ";
}
div.post-deleted .post-state:after {
  content: "(Deleted) ";
}

li.post-hidden .post-state:after {
  content: "(U)";
}
li.post-deleted .post-state:after {
  content: "(D)";
}

@mixin link-style($colour) {
  &, &:visited {
    color: $colour;
    text-decoration: underline;
  }

  &:active, &:hover {
    text-decoration: underline;
    color: $colour;
  }
}

@mixin strip-list-format {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.post, nav {
  a {
    @include link-style($link-colour);
  }
}

#login-thing {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 0.5em 0 0;

  a, a:hover, a:active, a:visited {
    color: $light-fg;
    text-decoration: none;
  }
}

.clear {
  clear: both;
}

#main-wrapper {
  background: $body-bg;
  min-height: 100vh;
  color: $body-fg;
  margin-left: 32px;
}

#header {
  padding: 1em;
}

#inner-wrapper {
  width: 600px;
  padding: 0 1em;
  float: left;

  & > section {
    padding: 1em 0;
    clear: both;
  }
}

#sidebar {
  padding: 1em;
  float: left;
  color: $light-fg;

  a {
    @include link-style($light-fg);
  }
}

#admin-section {
  form {
    display: inline;
  }
}

#content {
  border-top: 2px dotted $light-fg;
}

#related {
  border-top: 2px dotted $light-fg;

  h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    font-weight: bold;
  }

  nav {
    float: left;
    margin-right: 2em;
  }
}

nav.post-link-list {
  margin: 0 0 1em 0;

  ul {
    @include strip-list-format;
  }
}

.posts {
  ul {
    @include strip-list-format;
  }

  .post-index {
    font-family: $font-family-monospace;
    display: inline-block;
    min-width: 2em;
    padding-right: 0.5em;
    text-align: right;
  }
}

.tags-list {
  ul {
    @include strip-list-format;
    column-count: 2;
    li {
      margin-left: 0.5em;
    }
  }
}

nav.admin-links {
  font-size: 0.9em;
  font-weight: bold;
  padding: 0.25em;
  background: $overlay-bg;
  margin: 0 0 1em 0;
  float: right;

  ul {
    @include strip-list-format;

    li {
      display: inline;

      a {
        @include link-style($admin-link-colour);
      }

      [type="submit"], button {
        background: none;
        border: 0;
        padding: 0;
        margin: 0;
        font-weight: inherit;

        @include link-style($admin-link-colour);
      }
    }
  }
}

.post-date {
  font-size: 0.75em;
  font-weight: bold;
}

@media only screen and (max-width: 632px) {
  #main-wrapper {
    margin-left: 0;
  }
  #inner-wrapper {
    width: 100%;
  }
}