// Body
$body-bg: #ccc;
$body-fg: #444;
$light-fg: #666;

$sidebar-bg: #ccc;
$overlay-bg: #ddd;
$underlay-bg: #bbb;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

// Typography
$font-family-sans-serif: 'Ubuntu', sans-serif;
$font-family-monospace: 'Ubuntu Mono', monospace;
$font-heading: 'Josefin Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$font-family: 'Josefin Sans', sans-serif;

// Pulls the heading to the left a little bit, because the font frequently has
// a gap before the first letter, and when it scales up and down the left side
// of all the letters don't line up any more.
$heading1-fix: 3;
$heading2-fix: 2;

// Colors
$blue: #004080;
$indigo: #5320a2;
$purple: #b21c9d;
$pink: #f63f82;
$red: #e30001;
$orange: #da5500;
$yellow: #ffe700;
$green: #007f12;
$teal: #007b7d;
$cyan: #00ebdb;

$primary: $blue;

$link-colour: $blue;
$admin-link-colour: $red;
