// Fonts
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono');

// Variables
@import 'variables';

// Bootstrap + other dependencies
@import '~bootstrap/scss/bootstrap';
@import '~simplemde/dist/simplemde.min.css';
@import '~jquery-tageditor/jquery.tag-editor.css';

// Own theme
@import 'style';
@import 'admin';